{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1 class="big-title">Inscription</h1>
	<section class="container">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="form-group">
						{{ form_start(registrationForm) }}
						<label for="email">
							{{ form_row(registrationForm.email) }}
						</label>

						<label for="password">
							{{ form_row(registrationForm.plainPassword, {

                        label: 'Password'
                        }) }}
						</label>
						{{ form_row(registrationForm.agreeTerms) }}
						<button type="submit" class="btn btn-primary my-4">Register</button>
						{{ form_end(registrationForm) }}
					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}
