<nav>
	<div class="logo-container fca">
		<a href=" {{ path('app_home') }} "><img width="120px" height="120px" src=" {{asset('build/images/logo-120x120-copie.svg') }} " alt="logo"></a>
	</div>
	<div class="nav-links">
		<ul>
			<li>
				<a href=" {{path('app_home')}} ">Home</a>
			</li>
			<li>
				<a href=" {{path('app_equipe')}} ">Equipe</a>
			</li>
			<li>
				<a href=" {{ path('app_services')}} ">Services</a>
			</li>
			<li>
				<a href=" {{path('app_clients')}} ">Clients</a>
			</li>
		</ul>
		<div class="">
			<a class="btn btn-secondary" href=" {{path('app_shop')}} ">Shop</a>

			<a class="btn btn-advanced" href=" {{path('app_contact')}} ">Contact</a>

		</div>
	</div>
</nav>
